-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateTable
CREATE TABLE "maintenance_notes" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "priority" VARCHAR(80),
    "title" VARCHAR(80),
    "description" VARCHAR(80),
    "profile_id" UUID,
    "created_at" TIMESTAMP(6) DEFAULT LOCALTIMESTAMP,

    CONSTRAINT "maintenance_notes_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "profiles" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "user_id" UUID,
    "name" VARCHAR(80),
    "role" VARCHAR(80),

    CONSTRAINT "profiles_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "users" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "email" VARCHAR(80),
    "password" VARCHAR(80),
    "active" BOOLEAN DEFAULT true,
    "created_at" TIMESTAMP(6) DEFAULT LOCALTIMESTAMP,

    CONSTRAINT "users_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "unique_user_email" ON "users"("email");

-- AddForeignKey
ALTER TABLE "maintenance_notes" ADD CONSTRAINT "maintenance_notes_profile_id_fkey" FOREIGN KEY ("profile_id") REFERENCES "profiles"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "profiles" ADD CONSTRAINT "profiles_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "users"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

