-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateEnum
CREATE TYPE "Role" AS ENUM ('ADMIN', 'GATEKEEPER', 'PLANNER', 'PROGRAMMER', 'OPERATOR');

-- CreateTable
CREATE TABLE "maintenance_notes" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "priority" VARCHAR(80) NOT NULL,
    "title" VARCHAR(80) NOT NULL,
    "description" VARCHAR(80) NOT NULL,
    "profile_id" UUID NOT NULL,
    "created_at" TIMESTAMP(6) DEFAULT LOCALTIMESTAMP,

    CONSTRAINT "maintenance_notes_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "profiles" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "user_id" UUID NOT NULL,
    "name" VARCHAR(80) NOT NULL,
    "role" "Role" NOT NULL DEFAULT 'OPERATOR',

    CONSTRAINT "profiles_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "users" (
    "id" UUID NOT NULL DEFAULT gen_random_uuid(),
    "email" VARCHAR(80) NOT NULL,
    "password" VARCHAR(80) NOT NULL,
    "active" BOOLEAN DEFAULT true,
    "created_at" TIMESTAMP(6) DEFAULT LOCALTIMESTAMP,

    CONSTRAINT "users_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "unique_user_email" ON "users"("email");

-- AddForeignKey
ALTER TABLE "maintenance_notes" ADD CONSTRAINT "maintenance_notes_profile_id_fkey" FOREIGN KEY ("profile_id") REFERENCES "profiles"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

-- AddForeignKey
ALTER TABLE "profiles" ADD CONSTRAINT "user_id_fk" FOREIGN KEY ("user_id") REFERENCES "users"("id") ON DELETE NO ACTION ON UPDATE NO ACTION;

